
body{
    margin:0px;
    font-family: sans-serif;
    font-size: 24px;
}


/*Body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url("./image/macbook_mouse.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}


/* Horizontal-list */

.horizontal-list{
    list-style: none;
    padding-left:0px;
    margin:0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9 rem;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}


/* Name and Social Icons */

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem; 
    color:white;
    font-weight: 700; 
    margin-bottom: 0.5rem; 
}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
    /* border: 1px solid white; */
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.24);
}


/* Section Classes */

section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgrey;
}

section:nth-child(2n+1){
    background-color:white;
}


/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative; /* relative to it's original position, will appear above over other components */
    /* top: 0px; */
}

#my-image{
    height:12rem;
    width: 12rem;   
    /* 1-"rem units" are relative to the root element's (mainly <html>) font-size.
    Default font size of <html> element in most browser is typically (16px). However, this can 
    vary depending on the browser's default settings and custom styles that may be applied to the page.
    2- If font size of root element is 16px then 12rem = 12*16 px = 192 px.
    3- Common screen resolution 72 pixel per inch(PPI) and 96 PPI, but screen with higher PPI are becoming more common.
    then, 192px is approx 2 inches if PPI is 96. Inches = 192 px / 96 PPI = 2 inches
    4-1 inch = 2.54cm so, 2 inch = 5.08cm. 
    12 rem = 5.08cm (approx) */

    margin:auto;
    margin-top: -17vh;  
    /* vh is relative to viewport i.e visible area of browser. For complete viewport: 100vh & 100vw */
}

#my-image img{
    height: 100%;  /* % is relative to parent element i.e <div> with id= my-image */
    width: 100%;
    border-radius: 50%; 
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}  

#about-para{
    padding: 10px;
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

.text-highlight{
    color : #2857a4;
    font-weight: 600;
}

